@charset "utf-8";

/*
   CopyRight sem-cms.com
   developer:Hei mayi 
   QQ:1181698019
   E-mail:1181698019@qq.com
   Thank you for using! 
*/
 @font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(fonts/Montserrat.woff) format('woff');
  } 
html{ overflow-x: none; }
*{margin:0; padding:0;}
body,input,textarea{font-family: 'Montserrat', sans-serif;font-size:1em; }
input,textarea{ font-size: 0.85em;outline: none; }
ul,li{list-style:none;}
.spr{ float:right; margin-right:10px;}
.more{ float: right; margin-right:10px; }
.more a{ font-size: 0.75em; }
a{text-decoration:none;color:#333;}
a:hover{text-decoration:none;color:#19caaf;}
img{ max-width:100%;}
#amz a{ padding:10px 0; width: 100%; display: block;  text-align: center; margin-top: 10px; box-sizing: border-box;  margin-bottom:2px;font-style:normal; border-bottom:1px solid #000;  background: #666; color:#FFF;  cursor:pointer;border-radius:3px}
#amz a:hover{      background:#E8E8E8;color:#333;  cursor:pointer;border-radius:3px; text-decoration:none;}
#botalink a{ color:#666;text-decoration:none; font-size: 0.85em;}
#botalink a:hover{color:#666;text-decoration:none;}
#navalink a{ color:#fff;text-decoration:none; }
#navalink a:hover{color:#19caaf;text-decoration:none;}
#l85{ font-size: 0.85em; }
.an_01{ position:absolute; top:0px; background:#CCC; display:block; width:75px;}
.an_02{ position:absolute; bottom:0px;background:#CCC;display:block;width:75px;}
.cb{ clear:both;}
.fl ul li{ width: 270px; background:#F2F2F2; float: left; position: relative;padding: 8px 0px; border-bottom: 1px solid #ccc; text-indent:1em; z-index:9999;   }
.fl li ul{ display: none; position: absolute; left:270px; top:0px; z-index:9999;  }
.fl li ul li{ width: 270px; float: left; padding: 8px 0px; border-bottom: 1px solid #ccc; text-indent:1em;}
.inq{ padding:3px 8px; margin-bottom:2px; background:#E8E8E8; border-bottom:1px solid #099; cursor:pointer; border-radius:3px}
.inq a{ font-size: 0.9em; }
.inqs{ padding:3px 8px; margin-bottom:2px; background:#19caaf; color:#FFF;  cursor:pointer;border-radius:3px}
.inqs a:hover{color:#fff;}
 
.binq a{padding: 10px 0; width: 100%; display: block; text-align: center; font-style:normal; border-bottom:1px solid #099;  background:#19caaf; color:#FFF;  cursor:pointer;border-radius:3px}
.binq a:hover{ background:#E8E8E8;color:#333;  cursor:pointer; }

.sc{ width:100%; margin:auto;}
.sc_top{ width:100%; margin:auto; background:#F2F2F2;}
.sc_top_conment{ width:1170px; margin:auto;}
.sc_top_conment_1{ width:100%; padding:10px 0px; font-size: 0.85em; float:left; text-align:left; border-bottom: 1px solid #ddd;}
.sc_top_conment_1 img{ width: 20px; margin-right:5px; }
.sc_top_conment_1_left{ float: left; width: 60%; }
.sc_top_conment_1_right{ float: right; width: 38%; text-align: right; }

.sc_top_conment_2{ width:100%; float:left; }
.sc_top_conment_2_left{ width:270px; float:left; padding:5px 0px 15px 0px;}
.sc_top_conment_2_right{ width:870px; float:right;margin-top:28px;}
.sc_top_conment_2_right_left{ width:560px; float:left;}
.sc_top_conment_2_right_right{ width:280px; font-size: 1.1em; float:right; height:32px; background:url(../Images/tel.png); background-repeat:no-repeat; font-weight:900;  text-indent:2.5em; color:#333;}
.sc_top_ser_1{border-radius: 5px 0px 0px 5px; float:left; border:1px solid #E3E3E3; padding-left:5px; color:#333; width:480px; height:30px; line-height:30px;}
.sc_top_ser_2{border-radius: 0px 5px 5px 0px; border:none; background:#19CAAF; color:#FFF;height:32px; padding: 0px 10px;   float:left; cursor: pointer;   }
.sc_top_conment_3{ width:100%; float:left;}
.sc_top_conment_3_left{ width:270px; float:left; padding:16px 0px;   border-radius: 5px 5px 0px 0px; color:#FFF; text-indent:1em; font-weight:900; text-transform:uppercase;}
.sc_top_conment_3_right{ width:870px; float:right;   background:#2F2F2F;border-radius: 5px 5px 0px 0px;}
.sc_top_conment_3_right li{ float:left; padding:16px 20px;   font-weight:900;}

.sc_mid{ width:100%; margin:auto;}
.sc_mid_c{ width:1170px; margin:auto;  }
.sc_mid_c_left{ width:270px; float:left;}
.sc_mid_c_left_c{ width:270px; padding-bottom:10px; float:left;}
.sc_mid_left_bt{ background:#F2F2F2; padding:10px 0px; text-indent:1em; color:#333; font-weight:900;}
.sc_mid_c_right{ width:870px; float:right; margin-bottom:20px;  }
.sc_mid_c_right_c{ width:100%; float:left;box-sizing: border-box;}

.sc_pro{ width:100%; float:left;}
.sc_pro div{width: 25%;float: left;box-sizing: border-box; margin-bottom: 10px; margin-top: 10px; }
.sc_pro div ul{width: 90%;float: left; margin-left: 5%; border: 1px solid #efefef; padding: 2%; box-sizing: border-box;height: 315px; overflow: hidden;}
.sc_pro div li{width: 100%;float: left;text-align: center;font-size: 0.85em; line-height: 150%; padding-bottom: 5px; overflow: hidden;}
.sc_pro div li:nth-child(2){height: 60px; overflow: hidden; margin-bottom: 5px;}
.sc_pro div:hover img{transition: all 0.5s;}
.sc_pro div:hover img{transform: scale(1.2); }

.sc_mid_c_left_c_n div{width: 100%;float: left; padding: 10px 0; border-bottom: 1px  solid #efefef;}
.sc_mid_c_left_c_n div dt{width: 25%;float: left;}
.sc_mid_c_left_c_n div dd{width: 73%;float: right; line-height: 150%; margin-bottom: 5px;}

.sc_mid_c_right_title{ width:98%; margin-top:10px; float:left; background:#F7F7F7; color:#333; padding: 10px 1%; font-size:1.2em;  font-weight:900; }
.sc_mid_c_right_title h1{font-size: 1.2em;}

.sc_mid_c_right_fy{ width:100%; float:left; text-align:right; padding:10px 0px; margin-top:15px; box-sizing: border-box; }
.sc_mid_c_right_fy a{ padding:3px 7px; border:1px solid  #ddd; margin:0px 3px;}
.current{padding:3px 7px; border:1px solid  #EFEFEF; margin-left:3px; background:#19CAAF; color:#FFF;}
.sc_mid_tits{ width:100%; float:left; padding:5px;  margin-top:8px; color:#ddd; box-sizing: border-box;font-size: 0.85em;}

.sc_mid_tits a,.sc_mid_proview_t a{ color:#19caaf;text-decoration:none;}
.sc_mid_tits a:hover,.sc_mid_proview_t a:hover{color:#666;text-decoration:none;}

.sc_mid_proview_t{ width:100%; float:left; padding:15px 0px; border-bottom:1px solid #f7f7f7; color:#ddd; font-size: 0.85em; }
.sc_mid_proveiw_1{ width:100%; float:left; padding-top:10px;}
.sc_mid_proview_1_left{ width:46%; float:left; position:relative;  }
.sc_mid_proview_1_left_1{ width:100%; float:left; text-align:center;}
.sc_mid_proview_1_left_1 img{ max-width: 100%; }
.sc_mid_proview_1_left_2{ width:100%;  float:left;   }
.sc_mid_proview_1_left_2 img{ width:60px; max-height:60px; max-width:60px; border:1px solid #CCC; margin:2px; padding:2px; cursor:pointer;}
.sc_mid_proview_1_left_2 img:first-child{border:1px solid #19caaf;}
.sc_mid_proview_1_left_3{  width:75px;height:430px; margin-top:20px;   overflow:hidden; float:right;  }
 
.sc_mid_proview_1_right{width:50%; float:right;}
.sc_mid_proview_1_right li{ float:left; padding:5px 0px; width:100%; line-height:180%;  color:#333;}
.sc_mid_proview_1_right h1{ font-size:1.5em; line-height:130%;}
.sc_mid_proveiw_2{ width:100%; float:left; line-height:180%; padding:10px 0px; overflow:hidden; }
.sc_mid_proveiw_2 h3{width: 100%;float: left; padding: 15px 0;  text-align: center;font-size: 1.5em;}
.sc_mid_proveiw_2_c{font-size: 0.95em; color: #666;}

.sc_message{width: 80%;  margin: auto;}
.sc_message li{width: 100%;float: left; padding: 10px 0;}

.ly_1{ border:1px solid #ededed; width:100%; padding:10px 10px; box-sizing: border-box; }
.ly_2{ width:100%; height:100px; padding:10px 10px;border:1px solid #ededed;box-sizing: border-box;}
.ly_3{ border:1px solid #ededed; width:120px; padding:10px 10px;   margin-right: 5px;}
.ly_4{ padding: 10px 20px; background: #19CAAF; color: #fff; cursor: pointer; border: none; font-weight: 500;}
.ly_4:hover{ background: #666;}

.sc_mid_c_right_new{ width:100%; float:left;  box-sizing: border-box;}
.sc_mid_c_right_new li{ width:98%; float:left; padding:10px 1%; border-bottom:1px solid #f7f7f7;}
.sc_mid_c_right_new_d_1{ width: 30%;float: left;}
.sc_mid_c_right_new_d_1 img{ max-width: 100%;}
.sc_mid_c_right_new_d_2{ width: 68%; float:right;}
.sc_mid_c_right_new_d_3{ width: 100%; float:left; padding: 2px 0px; line-height: 180%; color: #666; font-size: 0.85em;}
.sc_mid_c_right_new_d_3 strong{font-size: 1.5em;}

.sc_mid_c_new_left{ width:270px; padding-bottom:10px; float:left;}
.sc_mid_c_new_left li{ width:100%; float:left; background:#F2F2F2;   padding: 8px 0px; border-bottom: 1px solid #ccc; text-indent:1em;  }
.sc_mid_c_new_v{ width:96%; overflow:hidden; float:left; line-height:180%; padding:2%; color: #666; font-size: 0.85em;}

.sc_about{ width:100%; float:left; line-height:180%; overflow:hidden; padding:10px 0px;}
.sc_about_tit{ width: 100%; float: left; padding: 1% 0; text-align: center; }
.sc_about_tit h1{ font-size: 1.5em; }
.sc_about_c{ width: 100%; float: left; line-height: 180%; color: #666;font-size: 0.9em; }
.sc_download{ width: 100%; float: left;}
.sc_download ul{ width: 100%; border-bottom: 1px solid #f7f7f7; height: 50px; padding: 8px 0px; }
.sc_download li{ float: left; padding: 5px 0px;}
.sc_d1{ width: 20%;}
.sc_d2{ width: 50%;}
.sc_d3{ width: 30%; text-align: right;}
.sc_d3 a{ background: #19caaf; color: #fff; padding: 5px 20px;}
.sc_d3 a:hover{ background: #666; }

.sc_bot{ background:#F2F2F2; margin:auto;}
.sc_bot_1{ width:1170px; margin:auto;   padding:20px 0px; }
.sc_bot_1_t{ width:100%;; float:left; padding:10px 0 15px 0px; font-size:1.2em; text-align: center; color: #000; }
.sc_bot_1_c{ width:100%; line-height:150%; float:left; color:#666; font-size: 0.85em;}
.sc_bot_2{ width:1170px; margin:auto; border-bottom:1px solid #E1E0E0; padding:20px 0px; }
.sc_bot_2 ul{ width:20%; float:left; margin-top: 15px;}
.sc_bot_2 li{ float:left; width:100%; padding:5px 0px;color:#666;}
.sc_bot_2 li:first-child{color: #000;font-weight: bold;font-size:1em;}
.sc_bot_2 li img{width: 24px;}
.sc_bot_3{ width:1170px; margin:auto; padding:20px 0px;color:#333; font-size: 0.85em; }
.sc_indexnews{ width: 1170px; margin: auto;}
.sc_indexnews_t{ width: 100%; padding: 25px 0 15px 0px; text-align: center; font-size: 1.2em;}
.sc_indexnews_c{ width: 100%; float: left;}
.sc_index_new{ width:33.3%; float: left; margin: 10px 0px; height: 300px; overflow: hidden; }
.sc_index_new ul{width: 96%;float: left; margin-left: 2%;}
.sc_index_new li{ float: left; width: 100% line-height: 150%; padding: 5px 0px; overflow: hidden;}
.sc_indexnewli{ height: 200px; overflow: hidden; margin-bottom: 10px;}
.sc_indexnewli img{ max-width: 100%; transition: all 0.5s;}
.sc_index_new:hover img{transform: scale(1.2);}

.sc_top_list{ display: none;}
#cls{display: none;}
#topfl{display: none; float: left; width: 270px; position: absolute; z-index: 9999;}
.left_title{padding:10px 0px;  background:#19CAAF; text-indent: 1em; display: none;}
.t_ss{background:url("../Images/xx1.png") no-repeat 96% 40%  #19CAAF;}
.t_xx{background:url("../Images/xx2.png") no-repeat 96% 40% #19CAAF;}
.sc_link{ width: 1170px; margin:10px auto;  padding: 15px 0 10px 0;border-top:1px solid #efefef;  }
.sech{ width: 100%; text-align: center; font-weight: bold; padding: 20px 0px; float: left; }

.sc_ct_left{width: 58%;float: left;}
.sc_ct_right{width: 40%;float: right;}
.sc_ct_right  li{width: 100%;float: left; padding: 5px 0;}

#rightTop{ border-radius: 40px; width: 40px; height: 40px; line-height: 40px; text-align: center; position: fixed;  right: 15px; bottom: 100px;   z-index: 9999999; background:#19caaf; color: #fff; cursor: pointer; display: none;}
#rightTop:hover{background: #333;}


.sc_Subscribe{width: 100%;float: left; background: #19caaf;  color: #fff; padding: 15px 0; line-height: 180%;}
.sc_Subscribe_c{width: 1170px; margin: auto;}
.sc_Subscribe_c_left{width: 55%;float: left;}
.sc_Subscribe_c_left strong{font-size: 1.2em;font-weight: bold;}
.sc_Subscribe_c_right{width: 44%;float: right;  padding-top: 1%;}
.sc_Subscribe_c_right input{width: 78%;float: left; height: 38px; line-height: 38px;  padding: 0 5px; box-sizing: border-box; border: 1px  solid #ccc;}
.sc_Subscribe_c_right span{ cursor: pointer; display: inline-block; width: 20%;float: left; background: #333;text-align: center; height: 38px; line-height: 38px;}
.sc_Subscribe_c_right span:hover{background: #000;}
.sc_mid_nepr{width: 96%;float: left; margin-left: 2%; box-sizing: border-box; border-top: 1px solid #efefef;}
.sc_mid_nepr li{ width: 100%;float: left; padding: 5px 0;line-height: 150%; }

/*css mb*/
